section header{
    display: flex;
    justify-content: right;
    background-color: rgb(179, 60, 60);
    height: 6.6vh;
    width:100%;
    /* position: fixed; */
}

.nav-links-text{
    margin-top: auto; margin-bottom: auto;
    padding-right: 10px;
    position: sticky;
}

header .nav-links-text a{
    color: black;
    text-decoration: none;
    transition: 2s;
}

header .nav-links-text a:hover{
    /* background-color: black; */
    color: antiquewhite;
}
@media(max-width: 700px){
    section header{
        width: 150%;
    }
}